
.location__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    background: #57585a;
    grid-template-areas: "place__hero" "place__action" "place__introducer" "place__information" "place__gallery" "card";
}

.location__content > * {
    background: #fff;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
}

.place__hero {
    grid-area: place__hero;
}
.place__action {
    grid-area: place__action;
}
.place__introducer {
    grid-area: place__introducer;
}
.place__information {
    grid-area: place__information;
}
.place__gallery {
    grid-area: place__gallery;
}
.card {
    grid-area: card;
}
