.title__feedback {
    grid-area: title;
    display: flex;
    align-items: center;
    .icon__left,
    .icon__right {
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content {
        flex: 1;
    }
}

.content {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}