
.dropDown {
    position: absolute;
    width: 210px;
    height: 195px;
    bottom: 48px;
    left: 5px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.item__top {
    margin-top: 6px;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 0 6px;
    height: 36px;
    border-radius: 8px;
    padding-left: 10px;
    gap: 8px;
}

.wrapper i {
    font-size: 15px;
}

.wrapper__top i {
    font-size: 16px;
}

.wrapper__top {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 46px;
    margin: 0 6px;
    border-radius: 8px;
    padding-left: 10px;
}

.wrapper:hover,
.wrapper__top:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.title {
    font-size: 14px;
    font-weight: 600;
    position: relative;
    right: 10px;
}

.code {
    font-size: 12px;
    color: #666;
}

.info {
    display: flex;
    flex-direction: column;
}

.divider {
    border: none;
    border-top: 2px solid #eee;
    width: 90%;
    margin: 6px auto;
    filter: drop-shadow(0 1px 1px #eee);
}

p {
    font-size: 13px;
    margin-left: 10px;
}

.btn {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
}


.xyzzzzz {
    position: absolute;
    width: 250px;
    height: 265px;
    bottom: 48px;
    left: 5px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.avatar {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff96ff;
    border-radius: 50%;
}

.avatar .name {
    font-size: 8px;
    /* padding-top: 2px; */
    color: white;
}

