.location__prev {
    position: absolute;
    top: 56px;
    bottom: 8px;
    left: 374px;
    width: 380px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #cacaca;
    z-index: 1000;
    overflow: hidden;
}

.placehero__wrapper {
  display: flex;
  flex-direction: column;
}

.place__img img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.place__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 16px 24px 4px;
}

.place__name h1 {
  font-size:  1.375rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.01em;

  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place__menu {
  color:#66676a;
  font-size: 14px;
}

.place__rate {
  display: flex;
  gap: 0.2rem;
}

.tab__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn__items {
  flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
  &:hover {
    background: #ebe5e5;
  }
}


.btn__animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;     
}


.content {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #5f6368;
    white-space: nowrap;
}


.content::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: teal;
    transform: scaleX(0);
}

.btn__items.active .content {
    color: teal;
}

.btn__items.active .content::after {
    transform: scaleX(1);
}

.action__wrapper {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid gray;
}

.action__items {
  margin: 4px;
}

.action__btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action__btn .action__name {
  color: teal;
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
}

.btn__icon {
  margin: 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon.secondary {
  background-color: rgb(211, 241, 251);
}

.place-introducer__wrapper {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: ;
}

.place-introducer__btn {
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: rgb(234, 227, 227);
  }
}

.place-introducer__items {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.place-introducer__desc {
  text-align: start;
  font: 12px;
  line-height: 1.6;
}

.place-introducer__icon {
  width: 32px;
  height: 32px;
}


