.location__bgr {
  position: absolute;
  width: 366px;
  top: 0;
  bottom: 0;
  z-index: 1003;
  background-color: #fff;
  border-right: 1px solid #cacaca;
}

.scroll-hidden {
  overflow-y: auto !important; /* thêm !important */
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none !important;
}
