
.tab__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn__items {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    &:hover {
        background: rgb(220, 245, 245);
    }
}

.btn__items-overview {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    &:hover {
        background: rgba(206, 208, 208, 0.824);
    }
}

.content__wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 6px auto 3px;
    grid-template-areas: "bg" "content" "bottom-btn";
    align-items: center;

    .bg {
        grid-area: bg;
    }
    .content {
        grid-area: content;
    }
    .bottom-btn {
        grid-area: bottom-btn;
    }
}

.bottom-btn {
    height: 3px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: teal;
}

.content-overview {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: rgb(107, 106, 106);
    white-space: nowrap;
}

.content {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: teal;
    white-space: nowrap;
}

.btn__items.active .content {
    color: teal;
}

.btn__items.active .content::after {
    transform: scaleX(1);
}