.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 52px 1fr;
    grid-template-areas:
        "navbar content"
        "navbar content";
    height: 100vh;
}

.container.active {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "navbar-x content"
        "navbar-x content";
    height: 100vh;
}
