.search {
    position: absolute;
    top: 10px;
    padding: 0 10px;
    width: 100%;
    height: 40px;
    z-index: 1001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search__input {
        width: 350px;
        height: 100%;
        padding: 0 15px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 0 1px #cacaca;
        display: flex;
        align-items: center;
        .search__input--title {
            width: 250px;
            height: 70%;
            font-size: 14px;
            input {
                width: 95%;
                height: 100%;
                outline: none;
            }
            input::placeholder {
                color: #878d98;
            }
        }
        .search__input--icon,
        .search__input--road {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    .search__sightseeing {
        height: 100%;
        padding: 0 15px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 0 1px #cacaca;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        gap: 8px;
        cursor: pointer;
        p {
            color: #878d98;
        }
    }
    .search__sightseeing:hover {
        background-color: rgb(223, 223, 223);
    }
}
