.roadmap {
    position: absolute;
    width: 360px;
    top: 0;
    bottom: 0;
    z-index: 1002;
    background-color: #fff;
    .out {
        height: 60px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
