.save__bgr {
    position: absolute;
    width: 366px;
    top: 0;
    bottom: 0;
    z-index: 1002;
    background-color: #fff;
    border-right: 1px solid #cacaca;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    .save__header {
        grid-area: header;
    }
    .save__content {
        grid-area: content;
        border-bottom: 1px solid #cacaca;
        box-shadow: 0px 2px 0px 0px #e1e2e2;
        cursor: pointer;
        display: flex;
        .content {
            flex: 1;
            padding: 12px 12px 0 12px;
            color: #007b9a;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        .content.active {
            .content__active {
                width: 60%;
                height: 2px;
                background-color: #007b8b;
            }
        }
    }
    .save__footer {
        grid-area: footer;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        cursor: pointer;
        .add_item {
            margin: 16px 20px 8px;
            padding: 8px;
            border-radius: 20px;
            background-color: #d3f7ff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
        .item {
            display: grid;
            grid-template-columns: 65px 1fr 50px;
            grid-template-rows: 50px;
            grid-template-areas: "header content footer";
            padding: 8px;
            .header {
                grid-area: header;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 15px;
            }
            .content {
                grid-area: content;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                .title {
                    font-size: 16px;
                }
                .content {
                    font-size: 14px;
                }
            }
            .footer {
                grid-area: footer;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .item:hover {
            background-color: #e6e9f3;
        }
    }
}

.add__bgr {
    position: absolute;
    width: 366px;
    top: 0;
    bottom: 0;
    z-index: 1002;
    background-color: #fff;
    border-right: 1px solid #cacaca;
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 60px 50px 25px 32px 50px 50px 1fr;
    grid-template-areas:
        "left space right"
        "left name right"
        "left quantity right"
        "left note right"
        "left location right"
        "left input right"
        "left content right";
    row-gap: 5px;
    .space__add {
        grid-area: space;
    }
    .name__add {
        grid-area: name;
        display: flex;
        .name__content {
            flex: 1;
            display: flex;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            .content__input {
                width: 80%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 8px;
                input {
                    width: 100%;
                    height: 80%;
                    background-color: transparent;
                    cursor: pointer;
                }
                input::placeholder {
                    font-size: 17px;
                    color: black;
                }
                input:focus {
                    outline: none;
                }
            }
        }
        .name__content:hover,
        .name__content:focus-within {
            background-color: #f1f1f1;
        }
        .name__btn {
            width: 50px;
            padding-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .quantity__add {
        grid-area: quantity;
        display: flex;
        align-items: center;
        padding: 0 8px;
        .quantity__icon {
            width: 25px;
            display: flex;
            align-items: center;
        }
        .quantity__content {
            display: flex;
            align-items: center;
            font-size: 14px;
        }
    }
    .note__add {
        grid-area: note;
        padding: 6px 6px 8px 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            height: auto;
        }
        input::placeholder {
            font-size: 14px;
        }
        input:focus {
            outline: none;
        }
    }
    .note__add:hover,
    .note__add:focus-within {
        background-color: #f1f1f1;
    }
    .location__add {
        grid-area: location;
        display: flex;
        justify-content: center;
        align-items: center;
        .add_item {
            padding: 8px 20px;
            border-radius: 20px;
            background-color: #d3f7ff;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }
    .input__add {
        grid-area: input;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
    }
    .content__add {
        grid-area: content;
        border-bottom: 1px solid black;
    }
}
