/* 

.login__container {
    width: 500px;
    height: 400px;
    background-color: var(--color-reset);
    margin: 20vh auto 0;
    border-radius: 10px;
}

.login__box {
    width: 95%;
    height: 90%;
    background-color: var(--color-box);
    margin: 10% auto 0;
    border-radius: 10px;
}

.login__error {
    font-size: var(--font-global);
    color: var(--color-box);
    text-align: center;
    margin-top: 8px;
}

.box__title {
    font-size: var(--font-global);
    color: var(--color-start);
    text-align: center;
    padding-top: 18px;
}

.box__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__user {
    margin-top: 30px;
}

.form__user label,
.form__pass label {
    font-size: var(--font-column);
}

.form__pass {
    margin-top: 25px;
}

.fa-solid,
.fas {
    font-size: var(--size-icon);
}

.pass__button {
    border: none;
}

.user__input,
.pass__input {
    font-size: var(--font-global);
    padding: 6px 90px 6px 30px;
    border-radius: 2px;
    border: 1px solid;
}

.user__input:focus,
.pass__input:focus {
    outline: none;
}

.user__content,
.pass__content {
    position: relative;
}

.fa-user,
.fa-lock {
    position: absolute;
    top: 6px;
    left: 4px;
}

.fa-eye-slash,
.fa-eye {
    position: absolute;
    top: 8px;
    right: 5px;
}

.form__forgot {
    font-size: var(--font-note);
    display: block;
    margin: 15px 0;
    text-align: right;
}

.submit__button {
    font-size: var(--font-global);
    padding: 6px 119px;
    color: var(--color-box);
    background: var(--color-end);
    border: none;
    border-radius: 2px;
}

.form__register {
    font-size: var(--font-note);
    margin-top: 18px;
    display: block;
    text-align: center;
}

.form__forgot .forgot__button,
.form__register .forgot__button {
    outline: none;
    border: none;
    background-color: var(--color-box);
    color: var(--color-end);
}

.form__forgot .forgot__button:hover,
.form__register .forgot__button:hover {
    text-decoration: underline;
} */
