.history__bgr {
    position: absolute;
    width: 366px;
    top: 0;
    bottom: 0;
    z-index: 1002;
    background-color: #fff;
    border-right: 1px solid #cacaca;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 50px 1fr;
    grid-template-areas:
        "header"
        "content"
        "footer";
    .history__header {
        grid-area: header;
    }
    .history__content {
        grid-area: content;
        border-bottom: 1px solid #cacaca;
        box-shadow: 0px 2px 0px 0px #e1e2e2;
    }
    .history__footer {
        grid-area: footer;
    }
}
