.navbar-x {
    grid-area: navbar-x;
    background-color: #f9f9f9;
    position: relative;
}

.header__start {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__start--gpt {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__end {
    margin-top: 8px;
    height: 108px;
}

.header__end--add-x,
.header__end--search-x,
.header__end--image-x {
    display: flex;
}

.header__end--add-y,
.header__end--search-y,
.header__end--image-y {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 6px;
}

.header__end--add-x:hover,
.header__end--search-x:hover,
.header__end--image-x:hover {
    background-color: #ededed;
}

.header__end .header__end--add,
.header__end .header__end--search,
.header__end .header__end--image {
    height: 36px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__start {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    font-size: 13px;
    margin: 10px 0 0;
    padding-top: 5px;
    position: relative;
}

.footer__end {
    height: 40px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.footer .footer__end-profile-y {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

.footer .footer__end-profile-y .option {
    font-size: 12px;
    font-weight: normal;
}

.navbar-x {
    position: relative;
    overflow-x: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-x::-webkit-scrollbar {
    width: 0;
}

.header {
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 1;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f9f9f9;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #ececec;
}

.header__start button,
.header__end button,
.footer__start button {
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.footer__end button {
    border: none;
    background-color: transparent;
    font-size: 24px;
}

.content .application {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
}

.content .application .icon {
    width: 52px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.content .application {
    border: none;
    background-color: transparent;
}

.content .application .text {
    position: relative;
    right: 6px;
}

.content .application:hover {
    background-color: #ededed;
}

.content .application.active {
    background-color: #eaeaea;
}

.content {
    font-size: 15px;
}

.content .item {
    height: 36px;
    width: 100%;
    background-color: blue;
    color: #9d8f8f;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.content .items {
    width: 100%;
    height: 36px;
    padding: 0 15px;
    border: none;
    font-size: 13px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* .dropdown {
        width: 150px;
        height: 100px;
        background-color: #fff;
        position: absolute;
        top: 35px;
        right: -55px;
        border-radius: 10px;
        z-index: 2;
        filter: drop-shadow(0 1px 2px black);
    } */
}

.content .items:hover {
    background-color: #ededed;
}

.content .items.active {
    background-color: #eaeaea;
}

.content .items.hoverX {
    background-color: transparent;
}

.header__end--image-x.active {
    background-color: #eaeaea;
}

.project__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.project__container {
    background: #ffffff;
    width: 512px;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    bottom: 4px;
    filter: drop-shadow(0 1px 2px #d3d3d3);
    border: 1px solid var(--color-line-modal);
    z-index: 100;
}

.project__container .title {
    height: 56px;
    padding: 10px 10px 10px 16px;
    display: flex;
    justify-content: space-between;
    .title__left {
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title__right {
        display: flex;
        gap: 8px;
        .title__right--iconx {
            width: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 13px;
            }
        }
        .title__right--iconx:hover {
            background-color: #ededed;
            border-radius: 50%;
        }
        .title__right--icony {
            width: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                font-size: 13px;
            }
        }
        .title__right--icony:hover {
            background-color: #ededed;
            border-radius: 10px;
        }
    }
}

.project__container .box {
    height: 180px;
    padding: 4px 16px 0;
    position: relative;
    .input {
        height: 38px;
        padding: 8px 36px;
        border: 1px solid #f3f3f3;
        border-radius: 6px;
        display: flex;
        align-items: center;
        .input__icon {
            color: #acacac;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 25px;
            .icon {
                font-size: 18px;
            }
        }
        .input__position {
            background-color: #fff;
            color: #acacac;
            border-radius: 50%;
            position: absolute;
            left: 38px;
            top: 10px;
        }

        .input__close {
            width: 15px;
            height: 15px;
            background-color: #F3F3F3;
            position: absolute;
            right: 30px;
            top: 18px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input {
            border: none;
        }
    }
    .option {
        margin-top: 8px;
        height: 66px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .invest,
        .homework,
        .write,
        .health,
        .tourism {
            display: flex;
            justify-content: space-between;
            gap: 8px;
            border: 1px solid #f3f3f3;
            padding: 0 10px;
            border-radius: 25px;
            filter: drop-shadow(0 1px 2px #f3f3f3);
            .icon {
                font-size: 15px;
                display: flex;
                align-items: center;
            }
            .title {
                font-size: 13px;
                padding: 0;
                display: flex;
                align-items: center;
            }
        }
        .invest.hover,
        .homework.hover,
        .write.hover,
        .health.hover,
        .tourism.hover {
            background-color: #F3F3F3;
        }
    }
    .note {
        height: 56px;
        display: flex;
        align-items: center;
        gap: 14px;
        padding: 5px 10px;
        background-color: #f3f3f3;
        border-radius: 10px;
        margin-top: 5px;
        color: #6F6F6F;
        .icon {
            font-size: 15px;
        }

        .title {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            font-size: 12px;
        }
    }
}

.project__container .button {
    height: 64px;
    padding: 0 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding: 5px 12px;
        font-size: 13px;
        border-radius: 10px;
        background-color: black;
        color: #fff;
        font-weight: 600;
    }
}

.dropdown {
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0,0,0,.12);
  padding: 6px;
  min-width: 160px;
}

.item {
  padding: 8px 12px;
  cursor: pointer;
}
.item:hover {
  background: #f5f5f5;
}
