
.place-hero__wrapper {
    display: flex;
    flex-direction: column;
}

.place__img img {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.place__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 16px 24px 4px;
}

.place__name h1 {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.01em;

    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place__menu {
    color: #66676a;
    font-size: 14px;
}

.place__rate {
    display: flex;
    gap: 0.2rem;
}

.tab__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn__items {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    &:hover {
        background: rgb(219, 249, 249);
    }
}

.btn__items-feedback {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    &:hover {
        background: rgb(223, 225, 225);
    }
}

.content__wrapper {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 6px auto 3px;
    grid-template-areas: "bg" "content" "bottom-btn";
    align-items: center;

    .bg {
        grid-area: bg;
    }
    .content {
        grid-area: content;
    }
    .bottom-btn {
        grid-area: bottom-btn;
    }
}

.bottom-btn {
    height: 3px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: teal;
}

.content {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: teal;
    white-space: nowrap;
}

.content-feedback {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: rgb(110, 114, 114);
    white-space: nowrap;
}

.btn__items.active .content {
    color: teal;
}

.btn__items.active .content::after {
    transform: scaleX(1);
}