
.content {
    grid-area: content;
    background-color: blue;
    width: 100%;
    height: 100%;
    position: relative;
}

.search {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 40px;
    z-index: 401;
    display: flex;
    justify-content: center;

    input {
        width: 400px;
        border-radius: 5px;
    }
}


