.options__input {
    position: absolute;
    right: 10px;
    top: 60px;
    width: 154px;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #cacaca;
    padding: 5px;
    z-index: 1001;
    .item {
        height: 50%;
        padding: 0 12px;
        background-color: #fff;
        border-radius: 8px;
        filter: drop-shadow(1px 1px 1px 1px #e4e4e4);
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 8px;
        cursor: pointer;
        p {
            color: #878d98;
        }
    }
    .item:hover {
        background-color: rgb(223, 223, 223);
        color: #fff;
        p {
            color: #fff;
        }
    }
}
