
.place-information__wrapper {
    padding: 16px 0;
}

.place-information__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        "address"
        "timeline"
        "history";
}

.place-information__address {
    grid-area: address;
}

.place-information__timeline {
    grid-area: timeline;
}

.place-information__history {
    grid-area: history;
}

.items {
    width: 100%;
    padding: 8px 24px;
    &:hover {
        background-color: rgb(241, 236, 236);
    }
}


.address-items__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.place-information__icon {
    width: 40px;
    height: 24px;
    color: teal;
    transition: color 0.2s ease;
    margin-right: 4px;
}

.timeline-information__icon {
    width: 40px;
    height: 24px;
    color: teal;
    transition: color 0.2s ease;
}

.history-information__icon {
    width: 40px;
    height: 24px;
    color: teal;
    transition: color 0.2s ease;
}

.place-information__link {
    font-size: 14px;
    width: 80%;
}

.place-information__copy {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &:hover {
        background-color: #c9cdd2;
    }
}

.timeline-information__wrapper {
    display: flex;
    align-items: center;
}

.timeline-information__title {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.timeline__icon {
    width: 50px;
    display: flex;
    justify-content: flex-end;
}

.placehistory__wrapper {
    display: flex;
}

.placehistory__content {
    font-size: 14px;
}


.dropdown__wrapper {
    margin-top: 8px;
    border-top: 1px solid #eee;
}

.dropdown__items {
    padding: 8px 0;
}

.dropdown__item {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    font-size: 14px;
    color: #555;
}

.dropdown__item.active {
    font-weight: 600;
    color: #1a73e8;
}
