.location__option {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 500px;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #cacaca;
    z-index: 1002;
}