* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-start: #7a67f9;
    --color-end: #3c79e9;
    --color-box: #fff;
    --color-reset: transparent;
    --font-global: 1rem;
    --font-column: 0.9rem;
    --size-icon: 1.1rem;
    --font-note: 0.8rem;
    --color-line-space: #f3f3f3;
    --color-line-modal: #cbcbcb;
}

html, body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

*:focus {
    outline: none;
}
