.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 401;
}

.modal-container {
    background: #ffffff;
    width: 680px;
    height: 600px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    bottom: 4px;
    filter: drop-shadow(0 1px 2px #d3d3d3);
    border: 1px solid var(--color-line-modal);
    display: flex;
    z-index: 100;
}

.table__left {
    width: 198px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.table__right {
    width: calc(100% - 198px);
    position: relative;
}

.out {
    height: 60px;
    padding: 12px 0 12px 10px;
}

.out__content {
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
}

.out__content:hover {
    background-color: #efefef;
    border-radius: 6px;
}

.select {
    height: 36px;
    border: none;
    background-color: transparent;

    transform: scale(0.92);
    padding: 6px 10px;
}

.select__content {
    width: 152px;
    height: 20px;
    display: flex;
    align-items: center;
}

.content__icon {
    font-size: 18px;
}

.content__text {
    width: 41px;
    font-size: 14px;
    margin: 0 0 0 6px;
    white-space: nowrap;
}

.select:hover {
    background-color: #efefef;
    border-radius: 8px;
}

.select.active {
    background-color: #efefef;
    border-radius: 8px;
}

.table__right .container {
    padding: 0 15px;
}

.table__right .global {
    height: 52px;
    padding: 12px 0;
    display: flex;
    align-items: center;
}

.global h3 {
    font-size: 18px;
    font-weight: normal;
}

.global {
    border-bottom: 1px solid #e6e6e6;
}

.table__right .column {
    height: 60px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .speak {
    height: 109px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .private {
    height: 76px;
    padding: 8px 0;
}

.line {
    border: none;
    height: 1px;
    background-color: #e6e6e6;
}

.line__update {
    border: none;
    height: 1px;
    background-color: #e6e6e6;
}

.column__top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.column__top .column__top--content {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.column__top--content .title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.column__top--content .button {
    height: 100%;
    border: none;
    font-size: 13px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-right: 10px;
}

.column__top--content .button:hover {
    padding: 0 10px;
    border-radius: 8px;
    background-color: #efefef;
}

.text__content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blueviolet;
}

.icon__x {
    font-size: 12px;
    opacity: 0.7;
}

.speak__content--top {
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.speak__content--top .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.speak__content--top .button {
    border: none;
    font-size: 13px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

.speak__content--top .button:hover {
    border-radius: 8px;
    background-color: #efefef;
}

.speak__content--bottom {
    margin-top: 6px;
    height: 54px;
    padding: 4px 0;
    font-size: 12px;
    padding: 0 45px 0 0;
    color: #8f8f8f;
}

.column__top--content .button__x {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column__top--content .button__x .button__top,
.column__top--content .button__x .button__bottom {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    gap: 8px;
    padding: 10px 10px;
}

.column__top--content .button__x .button__top:hover {
    background-color: #efefef;
    border-radius: 20px;
}

.column__top--content .button__x .button__bottom:hover {
    background-color: #efefef;
    border-radius: 8px;
}

.column__top--content .button__x .space {
    width: 1px;
    height: 40%;
    background-color: #8f8f8f;
    margin: 0 5px;
    opacity: 0.2;
}

.icon__y {
    font-size: 12px;
}

.row__header {
    height: 20px;
}

.row__content {
    height: 32px;
    margin: 4px 0;
}

.row__content--top {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.row__content--top .title {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row__content--top .button {
    width: 36px;
    background-color: #e3e3e3;
    border-radius: 25px;
    display: flex;
    align-items: center;
    border: 2px solid #e3e3e3;
    justify-content: start;
}

.row__content--top .button__content {
    background-color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
}

.row__content--top .button.on {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #0285ff;
    border: 2px solid #0285ff;
}

.row__content {
    font-size: 12px;
    color: #8f8f8f;
    padding: 0 50px 0 0;
}

.table__right .speak__x {
    height: 93px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.speak__x .speak__content--top {
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.speak__x .speak__content--bottom {
    margin-top: 6px;
    height: 32px;
    padding: 4px 0;
    font-size: 12px;
    padding: 0 45px 0 0;
    color: #8f8f8f;
}

.table__right .speak__y {
    height: 77px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.speak__y .speak__content--bottom {
    margin-top: 6px;
    height: 16px;
    padding: 4px 0;
    font-size: 12px;
    padding: 0 45px 0 0;
    color: #8f8f8f;
}

.table__right .box {
    height: 212px;
    padding: 16px;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .box .box__brands {
    height: 60px;
}

.table__right .box .box__title {
    height: 36px;
    margin: 12px 0;
    font-size: 13px;
    text-align: center;
    color: #8f8f8f;
}

.table__right .box .box__button .box__button--x {
    border: none;
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    font-weight: 600;
}

.table__right .box .box__button {
    height: 60px;
    margin: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.table__right .box .box__brands .box__brands-x,
.table__right .box .box__brands .box__brands-y,
.table__right .box .box__brands .box__brands-z,
.table__right .box .box__brands .box__brands-t {
    width: 40px;
    height: 40px;
    position: relative;
}

.table__right .box .box__brands i {
    font-size: 26px;
}

.table__right .box .box__brands .icon_x {
    color: blueviolet;
}

.table__right .box .box__brands .icon_y {
    color: #fff;
}

.table__right .box .box__brands .icon_z {
    color: #fff;
}

.table__right .box .box__brands .icon_t {
    color: #ff6201;
}

.table__right .box .box__brands .box__brands--iy {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    left: 8px;
    z-index: 3;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands .box__brands--iz {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    right: 8px;
    z-index: 2;
    background-color: #5661ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands .box__brands--ix {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    left: 16px;
    z-index: 4;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .box .box__brands .box__brands--it {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    position: absolute;
    right: 16px;
    z-index: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .setup .setup__box {
    width: 100%;
    height: 64px;
    border: none;
    background-color: transparent;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.table__right .setup .box__top {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.table__right .setup .box__bottom {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .setup .box__top .box__top--icon {
    padding: 6px;
    border: 1px solid #f3f3f3;
    border-radius: 50%;
}

.table__right .control {
    height: 75px;
    padding: 16px 0 4px;
}

.table__right .control .control__content {
    font-size: 13px;
    color: #8f8f8f;
}

.table__right .control__button {
    font-size: 13px;
    height: 44px;
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.table__right .control__button .button {
    height: 36px;
    border: none;
    background-color: transparent;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-line-modal);
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
    gap: 8px;
}

.table__right .header__left {
    height: 52px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
}

.table__right .header__left .header__left--title {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .header__left .header__left--button {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.table__right .header__mid {
    height: 52px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
}

.table__right .header__mid .header__mid--title {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .header__mid .header__mid--button {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .header__mid .header__mid--button button {
    border: none;
    background-color: transparent;
    padding: 0 15px;
    height: 100%;
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
    border: 1px solid var(--color-line-modal);
}

.table__right .header__mid .header__mid--button .prev {
    border: 1px solid #e9bab9;
    opacity: 1;
    color: #c23f3c;
}

.table__right .secure__key {
    width: 100%;
    height: 89px;
    padding: 8px 0;
    background-color: transparent;
    border: none;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.table__right .secure__key .column__text {
    font-size: 12px;
}

.table__right .secure__key .key__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.table__right .secure__key .key__column .column__text {
    text-align: start;
    color: #8f8f8f;
}

.table__right .secure__key .key__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.table__right .secure__key .key__row .row__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .secure__key .key__row .row__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.table__right .secure__mfa {
    border-top: 1px solid #f3f3f3;
    height: 42px;
    padding: 10px 0 6px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.table__right .secure__application {
    height: 61px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .secure__application .app__auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .secure__application .auth__title {
    height: 20px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .secure__application .button {
    width: 32px;
    height: 20px;
    background-color: #e3e3e3;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.table__right .secure__application .button.on {
    background-color: #0285ff;
    justify-content: end;
}

.table__right .secure__application .button__content {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 2px;
}

.table__right .secure__application .app__support {
    height: 24px;
    margin: 4px 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__device {
    height: 92px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .secure__device .secure__title {
    font-size: 13px;
    height: 20px;
}

.table__right .secure__device .secure__content {
    height: 47px;
    margin: 4px 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__logout {
    height: 60px;
    padding: 8px 0;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .secure__logout .logout__title {
    height: 36px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .secure__logout .logout__button {
    height: 36px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    border: 1px solid var(--color-line-modal);
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
}

.table__right .secure__out {
    height: 108px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .secure__out .secure__left--title {
    height: 20px;
    font-size: 13px;
}

.table__right .secure__out .secure__left--content {
    height: 64px;
    margin: 4px 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__out .out__right {
    height: 100%;
}

.table__right .secure__out .out__right .out__right--content {
    height: 36px;
    border: none;
    padding: 0 12px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
}

.table__right .secure__login {
    height: 86px;
    padding: 12px 0;
    border-bottom: 1px solid #f3f3f3;
}

.table__right .secure__login .secure__login--left {
    height: 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.table__right .secure__login .secure__login--right {
    height: 32px;
    margin: 2px 0 0;
    font-size: 12px;
    color: #8f8f8f;
}

.table__right .secure__login .secure__login--right .prev {
    text-decoration: underline;
}

.table__right .secure__banner {
    height: 92px;
    margin: 16px 0 16px;
}

.table__right .banner__content {
    font-size: 13px;
    color: #8f8f8f;
    padding: 16px;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.table__right {
    overflow-x: auto;
}

.table__right::-webkit-scrollbar {
    width: 0px;
}

/* .table__right::-webkit-scrollbar-track {
    background: transparent;
} */

.table__right::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

/* .table__right::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.table__right .container .update__account {
    height: 52px;
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .update__account--left {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.table__right .update__account .update__account--right {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    padding: 0 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 20px;
}

.table__right .title__account {
    height: 52px;
    padding: 16px 0;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.table__right .table__account {
    height: 220px;
    margin-bottom: 16px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__right .table__account--x,
.table__right .table__account--y,
.table__right .table__account--z,
.table__right .table__account--t,
.table__right .table__account--xx,
.table__right .table__account--yy {
    display: flex;
    gap: 8px;
}

.table__right .payment__account {
    height: 52px;
    width: 100%;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
}

.table__right .payment__account .payment__account--left {
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__right .payment__account--left .account__left--title {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.table__right .payment__account--left .account__left--content {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #2964aa;
}

.table__right .payment__account .payment__account--right {
    height: 36px;
    padding: 0 12px;
    border: none;
    background-color: transparent;
    font-weight: 600;
    border-radius: 20px;
    border: 1px solid var(--color-line-modal);
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .delete__account {
    height: 52px;
    padding: 8px 0;
    margin: 0 0 10px;
    display: flex;
    justify-content: space-between;
}

.table__right .delete__account .delete__account--left {
    font-size: 13px;
    display: flex;
    align-items: center;
}

.table__right .delete__account .delete__account--right {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--color-line-modal);
    border-radius: 20px;
    font-weight: 600;
    opacity: 0.7;
}

.table__right .profile__account {
    height: 42px;
    padding: 12px 0;
    font-size: 16px;
    border-bottom: 1px solid #f3f3f3;
    display: flex;
    align-items: center;
}

.table__right .content__account {
    height: 52px;
    margin: 8px 0;
    font-size: 13px;
    display: flex;
}

.table__right .icon__account {
    height: 104px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__right .icon__account .box__x {
    display: flex;
    justify-content: space-between;
}

.table__right .icon__account .box__x .x__icon {
    font-size: 16px;
    width: 20px;
    height: 20px;
    padding: 15px;
    border: 1px solid var(--color-line-modal);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .icon__account .box__x .x__hidden,
.table__right .icon__account .box__x .x__note {
    font-size: 11px;
    color: #8f8f8f;
}

.table__right .icon__account .box__x .x__hidden {
    visibility: hidden;
}

.table__right .icon__account .box__y {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__right .icon__account .box__z {
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8f8f8f;
    gap: 5px;
}

.table__right .note__account {
    height: 100px;
    padding: 16px;
    display: flex;
    border-radius: 10px;
    border: 1px solid #e3e2e2;
    gap: 8px;
}

.table__right .note__account .note__account--title {
    font-size: 13px;
}

.table__right .note__account .note__account--content {
    font-size: 13px;
}

.table__right .note__account .note__top {
    height: 25%;
}

.table__right .note__account .note__bottom {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__right .note__account .note__bottom p {
    margin: 0;
    text-align: left;
}

.table__right .link__account {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__right .link__account .link__space {
    padding: 12px 0;
}

.table__right .link__account .link__space .line {
    height: 1px;
    background-color: #f3f3f3;
}

.table__right .link__account .link__link {
    font-size: 13px;
    font-weight: 600;
}

.table__right .link__account .link__world {
    height: 30px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .link__account .link__world .world__button {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 36px;
    border: none;
    background-color: transparent;
}

.table__right .link__account .link__linkedin {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .link__account .link__linkedin .linkedin__icon {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 8px;
}

.table__right .link__account .link__linkedin .linkedin__button,
.table__right .link__account .link__github .github__button {
    border: none;
    height: 100%;
    background-color: transparent;
    padding: 0 12px;
    border: 1px solid var(--color-line-modal);
    border-radius: 20px;
    font-weight: 600;
}

.table__right .link__account .link__github {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .link__account .link__github .github__icon {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 8px;
}

.table__right .email__account {
    height: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.table__right .email__account .email__space {
    padding: 12px 0 11px;
}

.table__right .email__account .email__space .line {
    margin-top: 1px;
    background-color: #f3f3f3;
    height: 1px;
}

.table__right .email__account .email__email {
    height: 20px;
    font-size: 13px;
    font-weight: 600;
}

.table__right .email__account .email__link {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.table__right .email__account .email__link .link__content,
.table__right .email__account .email__link .link__icon {
    font-size: 13px;
}

.table__right .tick__email {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.table__right .email__account .tick__email .tick__content {
    font-size: 13px;
}

.table__right .email__account .tick__email .tick__title {
    font-size: 13px;
    margin-left: 1px;
}

.table__right .grid__box {
    height: 305px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 134px;
    grid-template-rows: 33px 45px 5px 55px repeat(4, 33px);
    grid-template-areas: 
    "area__a area__b"
    "area__c area__c"
    "area__d area__d"
    "area__e area__e"
    "area__f area__g"
    "area__h area__i"
    "area__k area__l"
    "area__m area__n";
    gap: 6px;
}

.table__right .grid__box .area__a {
    grid-area: "area__a";
}

.table__right .grid__box .area__a .area__a--content {
    height: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.table__right .grid__box .area__b {
    grid-area: area__b;
    display: flex;
    justify-content: end;
}

.table__right .grid__box .area__b .area__b--content,
.table__right .grid__box .area__g .area__g--content,
.table__right .grid__box .area__i .area__i--content,
.table__right .grid__box .area__l .area__l--content,
.table__right .grid__box .area__n .area__n--content {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    font-size: 13px;
    padding: 0 12px;
    border-radius: 8px;
}

.table__right .grid__box .area__c {
    grid-area: area__c;
}

.table__right .grid__box .area__c .area__c--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--color-fz12);
}

.table__right .grid__box .area__c .area__c--content p {
    margin: 0;
}

.table__right .grid__box .area__d {
    grid-area: area__d;
}

.table__right .grid__box .area__e {
    grid-area: area__e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__right .grid__box .area__e .area__e--title {
    font-size: 13px;
}

.table__right .grid__box .area__e .area__e--content {
    font-size: 12px;
    color: var(--color-fz12);
}

.table__right .grid__box .area__e .area__e--content p {
    margin: 0;
}

.table__right .grid__box .area__f {
    grid-area: area__f;
}

.table__right .grid__box .area__f .area__f--content,
.table__right .grid__box .area__h .area__h--content,
.table__right .grid__box .area__k .area__k--content,
.table__right .grid__box .area__m .area__m--content {
    height: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.table__right .grid__box .area__g {
    grid-area: area__g;
    display: flex;
    justify-content: end;
}

.table__right .grid__box .area__h {
    grid-area: area__h;
}

.table__right .grid__box .area__i {
    grid-area: area__i;
    display: flex;
    justify-content: end;
}

.table__right .grid__box .area__k {
    grid-area: area__k;
}

.table__right .grid__box .area__l {
    grid-area: area__l;
    display: flex;
    justify-content: end;
}

.table__right .grid__box .area__m {
    grid-area: area__m;
}

.table__right .grid__box .area__n {
    grid-area: area__n;
    display: flex;
    justify-content: end;
}

.table__right .grid__box .area__b .area__b--content:hover,
.table__right .grid__box .area__g .area__g--content:hover,
.table__right .grid__box .area__i .area__i--content:hover,
.table__right .grid__box .area__l .area__l--content:hover,
.table__right .grid__box .area__n .area__n--content:hover {
    background-color: #F9F9F9;
}

.table__right .option {
    height: 60px;
    margin: 28px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
}

.table__right .option .option__input {
    padding: 8px 12px;
    color: var(--color-fz12);
    outline: none;  
    border: 1px solid var(--color-line);
    border-radius: 5px;
}

.table__right .information {
    height: 28px;
    margin: 16px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.table__right .line__x {
    border: none;
    border-top: 1px solid var(--color-line);
}   

.table__right .memory {
    height: 28px;
    margin: 18px 0 12px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .memory .memory__left {
    font-size: 16px;
}

.table__right .memory .memory__right {
    border: none;
    background-color: transparent;
    padding: 0 12px;
    border: 1px solid var(--color-line-modal);
    height: 100%;
    border-radius: 20px;
    font-weight: 600;
}

.table__right .memory__top {
    height: 52px;
    margin: 8px 0;
    border-bottom: 1px solid var(--color-line);
}

.table__right .memory__top .memory__top--left {
    height: 20px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .memory__top .memory__top--left .title {
    height: 100%;
}

.table__right .memory__top .memory__top--left .button {
    height: 100%;
    width: 32px;
    padding: 0 2px;
    background-color: #e3e3e3;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.table__right .memory__top .memory__top--left .title {
    display: flex;
    align-items: center;
}

.table__right .memory__top .memory__top--left .button .button__content {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
}

.table__right .memory__top .memory__top--right {
    height: 20px;
    margin: 4px 0;
    font-size: 12px;
    display: flex;
    color: var(--color-fz12);
}

.table__right .memory__bottom {
    height: 32px;
    margin: 16px 0 24px;
    font-size: 12px;
    color: var(--color-fz12);
    padding: 0 55px 0 0;
}

.table__right .memory__bottom .content span {
    text-decoration: underline;
}

.table__right .button__update {
    height: 28px;
    display: flex;
    font-size: 16px;
    margin: 16px 0;
    border: none;
    background-color: transparent;
    gap: 8px;
}

.table__right .button__update .update__title, 
.table__right .button__update .update__button {
    display: flex;
    align-items: center;
}

.table__right .memory__top--x {
    height: 52px;
    margin: 8px 0 24px;
}

.table__right .memory__top--x .memory__top--left {
    height: 20px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__right .memory__top--x .memory__top--left .title {
    height: 100%;
}

.table__right .memory__top--x .memory__top--left .button {
    height: 100%;
    width: 32px;
    padding: 0 2px;
    background-color: #e3e3e3;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.table__right .memory__top--x .memory__top--left .title {
    display: flex;
    align-items: center;
}

.table__right .memory__top--x .memory__top--left .button .button__content {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
}

.table__right .memory__top--x .memory__top--right {
    height: 20px;
    margin: 4px 0;
    font-size: 12px;
    display: flex;
    color: var(--color-fz12);
}

.table__right .sticky {
    margin: 0 15px;
    height: 84px;
    background-color: #fff;
    position: sticky;
    bottom: 0;
    border-top: 1px solid var(--color-line);
    padding: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

.table__right .sticky .cancel {
    height: 36px;
    padding: 0 12px;
    border: none;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--color-line-modal);
    font-weight: 600;
}

.table__right .sticky .save {
    height: 36px;
    padding: 0 12px;
    border: none;
    background-color: black;
    border-radius: 20px;
    border: 1px solid var(--color-line-modal);
    font-weight: 600;
    color: #fff;
}

