.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1003;
}

.modal-container {
    background: #ffffff;
    width: 450px;
    height: 482px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    bottom: 15px;
    filter: drop-shadow(0 1px 2px #d3d3d3);
    border: 1px solid var(--color-line-modal);
    padding: 14px;
    z-index: 1004;
}

.content img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0 1px 1px var(--color-line-modal));
}

h2 {
    font-size: 18px;
    font-weight: 500;
}

.title {
    height: 52px;
    display: flex;
    align-items: center;
}

.content {
    margin-top: 8px;
    height: calc(100% - 52px);
}

.content__avatar {
    height: 170px;
    display: flex;
    justify-content: center;
}

.content__name, .content__code {
    height: 65px;
    border: 1px solid var(--color-line-modal);
    border-radius: 5px;
    margin-bottom: 8px;
}

.p {
    margin: 8px 0 0 0;
    color: #ACACAC;
    text-align: center;
    font-size: 12px;
}

.submit {
    height: 52px;
}

.content__name label, .content__code label {
    font-size: 12px;
}

.content__name .content__name--label,
.content__code .content__code--label {
    margin: 10px 0 0 10px;
}

.content__name input, .content__code input {
    font-size: 15px;
    border: none;
    background-color: transparent;
    margin: 10px 0 0 10px;
    width: 95%;
}

.content__name.active, .content__code.active {
    outline: 1px solid;
}

.submit button {
    border: none;
    padding: 6px 15px;
    border-radius: 8px;
}

.submit {
    display: flex;
    justify-content: end;
    align-items: end;
}

.submit .submit__btn {
    width: 28%;
    display: flex;
    justify-content: space-between;
}

.submit button.no-save {
    background-color: #fff;
    border: 1px solid var(--color-line-modal);
    filter: drop-shadow(0 1px 2px var(--color-line-modal));
    font-weight: 600;
}

.submit button.save {
    background-color: black;
    border: 1px solid var(--color-line-modal);
    filter: drop-shadow(0 1px 2px var(--color-line-modal));
    color: #fff;
    font-weight: 600;
}

.content__avatar--image button {
    border: none;
    background-color: transparent;;
}

.wrapper {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--color-line-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 92px;
    background-color: #fff;
    filter: drop-shadow(0 1px 2px var(--color-line-modal));
}

.content__avatar--image {
    position: relative;
}

.wrapper i {
    font-size: 17px;
    position: relative;
    top: 1px;
}

    

